name: build-and-test

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  build-and-test-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup zig
        uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.zig_version }}
      
      - name: Build
        run: zig build
      
      - name: Test
        run: zig build test
